@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    margin: 0;
    background:linear-gradient(to right, #F581C2 50% ,#fff 50%);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   z-index: -1;
}



.top {
    width: 80vw;
    height: 100px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 43vh;
    width: 80vw;
}

.header-logo {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin-top: 0px;
}

.ham-menu {
    display: none;
    cursor: pointer;
    border: none;
    background: transparent;
    
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    min-width: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:80vw;
    min-height: 550px;
    background-color: #fff;
    z-index: 0;
    left: 130px;
    top: 35px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12) , 2px 2px 6px rgba(0, 0, 0, 0.12);
   
    
    }

    .nike-logo {
      
        width: 55px;
        height: 50px;
      
    }

    .nike-header {
    
        font-family: 'Android',sans-serif;
        font-size: 17px;
        letter-spacing: 2px;
    }

    .list-container {
        flex-wrap: wrap;
        height: auto;
        width: 50vw;
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        position: relative;
        
    }

    ul {
        justify-content: center; 
        list-style: none;
       display: flex;
       align-items: center;
        
    }


    li a {
        padding: 5px 60px 10px 0;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        color: #808080;
        font-family: 'Inter' ,sans-serif;
        font-weight: 600;
        
        
    }

    li a:hover {
        color: #F581C2;
    }


    .buy-now {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        height: 46vh;
          width: 30vw;
         font-family: 'Inter',
         sans-serif;
          top: 150px;
          left: 100px;
    }

    .buy-now-header {
        min-width: 30vw;
        min-height: 100px;
        text-align: center;
    }
    
    .buy-now-nike-header-text {
        text-transform: uppercase;
        font-family: 'Karla', sans-serif;
        font-size: 40px;
        letter-spacing: -1px;
    }

    .tm {
        font-size: 10px;
        bottom: 30px;
        position: relative;
        color: #808080;
         font-family: 'Inter',
         sans-serif;
        
    }

    .text {
        min-width: 30vw;
        min-height: 100px;
    }



    .buy-now p {
        margin-top: 0;
        text-align: center;
        line-height: 30px;
        color: #808080;
        font-family: 'Inter',
        sans-serif;
       
    }

    .btn {
        height: 50px;
        width: 140px;
        font-family: 'Karla',
        sans-serif;
        text-transform: uppercase;
        color: #fff;
         background: linear-gradient(to left, #fc6767, #ec008c);
         border:none;
         outline: none;
         

    }

    .btn:active {
        height: 47px;
        width: 135px;

    }

    .btn:hover {
         background: linear-gradient(to left, #e96443, #904e95);
       
    }

    .icons {
        width: 30vw;
        height: 5vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
      
    }

    .icons-img {
      
      width:20px;
    
      

    }

    .icons-img:hover {
          width: 25px;
          transition: 0.5s;
          
    }

    .nike-shoe{
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;

    }

    .nike-image-container {
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25vw;
        min-width: auto;
     
    }


    @media only screen and (max-width:1090px) {
    ul {
        flex-direction: column;
        display: none;
        position: absolute;
        right: 30px;
        top: 4px;

      
    }

    ul.show {
        display: flex;
    }

    .list-container {
       align-items: flex-end;
       flex-direction: column;
      
       
       
       
       
    }
      
.bottom{
    flex-direction: column;
}

.ham-menu {
    display: block;
    position: absolute;
   
}



}







   





   


   